<h1>Repository Pattern</h1>
<p>
    Mediates between the domain and data mapping layers using a
    collection-like interface for accessing domain objects. Repository
    encapsulates the set of objects persisted in a data store and the
    operations performed over them, providing a more object-oriented view of
    the persistence layer. Repository also supports the objective of
    achieving a clean separation and one-way dependency between the domain
    and data mapping layers.

</p>
<h2>Examples</h2>
<ul>
    <li>Doctrine 2 ORM: there is Repository that mediates between Entity and
        DBAL and contains methods to retrieve objects</li>
    <li>Laravel Framework</li>
</ul>

{{ uml_image }}