<h1>Fluent Interface Pattern</h1>
<p>To write code that is easy readable just like sentences in a natural
    language (like English)
</p>
<h2>Examples</h2>
<ul>
    <li>Doctrine2's QueryBuilder works something like that example class
        below</li>
    <li>PHPUnit uses fluent interfaces to build mock objects</li>
    <li>Yii Framework: CDbCommand and CActiveRecord use this pattern, too</li>
</ul>

{{ uml_image }}