<h1>Strategy Pattern</h1>
<h2>Terminology:</h2>
<ul>
    <li>Context</li>
    <li>Strategy</li>
    <li>Concrete Strategy</li>
</ul>

<h2>Purpose</h2>
<p>
    To separate strategies and to enable fast switching between them. Also
    this pattern is a good alternative to inheritance (instead of having an
    abstract class that is extended).
</p>

<h2>Examples</h2>
<ul>
    <li>sorting a list of objects, one strategy by date, the other by id</li>
    <li>simplify unit testing: e.g. switching between file and in-memory
        storage</li>
</ul>

{{ uml_image }}