<h1>Decorator Pattern</h1>
<p>
    To dynamically add new functionality to class instances.

</p>
<h2>Examples</h2>
<ul>
    <li>Zend Framework: decorators for ``Zend_Form_Element`` instances</li>
    <li>Web Service Layer: Decorators JSON and XML for a REST service (in
        this case, only one of these should be allowed of course)</li>
</ul>

{{ uml_image }}