<h1>Delegation Pattern</h1>
<p>
    Demonstrate the Delegator pattern, where an object, instead of performing one
    of its stated tasks, delegates that task to an associated helper object. In
    this case TeamLead professes to writeCode and Usage uses this, while TeamLead
    delegates writeCode to JuniorDeveloper's writeBadCode function. This inverts
    the responsibility so that Usage is unknowingly executing writeBadCode.
</p>
<h2>Examples</h2>
<ul>
    <li>Please review JuniorDeveloper.php, TeamLead.php, and then Usage.php to see it all tied together.
    </li>
</ul>

{{ uml_image }}