<h1>Singleton</h1>
<p>To have only one instance of this object in the application that will
    handle all calls.</p>
<ul>
    <li>DB Connector</li>
    <li>Logger (may also be a Multiton if there are many log files for several purposes)</li>
    <li>Lock file for the application (there is only one in the filesystem...)</li>
</ul>
{{ uml_image }}