<h1>Registry Pattern</h1>
<p>To implement a central storage for objects often used throughout the
    application, is typically implemented using an abstract class with only
    static methods (or using the Singleton pattern). Remember that this introduces
    global state, which should be avoided at all times! Instead implement it using Dependency Injection!</p>

<h2>Examples</h2>
<ul>
    <li>Zend Framework 1: ``Zend_Registry`` holds the application's logger
        object, front controller etc.</li>
    <li>Yii Framework: ``CWebApplication`` holds all the application
        components, such as ``CWebUser``, ``CUrlManager``, etc.</li>
</ul>

{{ uml_image }}