<h1>Prototype Pattern</h1>
<p>To avoid the cost of creating objects the standard way (new Foo()) and
    instead create a prototype and clone it.</p>
<h2>Examples</h2>
<p>Large amounts of data (e.g. create 1,000,000 rows in a database at
    once via a ORM).</p>
{{ uml_image }}