<h1>Abstract Factory</h1>
<p>To create series of related or dependent objects without specifying
    their concrete classes. Usually the created classes all implement the
    same interface. The client of the abstract factory does not care about
    how these objects are created, he just knows how they go together.</p>
{{ uml_image }}